@CHARSET "UTF-8";
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#lightningjs-argunet, #lightningjs-argunet iframe{
	display:block;
	padding:0;
	margin:0;
	border:0;
	width:0;
	height:0;
}
.argunetBrowser{
	position:relative;
	border:1px solid #999;
	background:#ffffff;
	font-family: Helvetica, Arial, sans-serif;
	overflow:hidden;
}
.argunetBrowser:-moz-full-screen {
  width: 100% !important;
  height: 100% !important;
  border:0px;
}
.argunetBrowser:-webkit-full-screen {
  width: 100% !important;
  border:0px;
}

.argunetBrowser:-moz-full-screen canvas{
    width: 100% !important;
    height: 100% !important;
}
.argunetBrowser:-webkit-full-screen canvas{
  width: 100% !important;
  height: 100% !important;
}
.argunetBrowser.loading{
	background:#ffffff url('images/loading.gif') no-repeat center center;
}
.argunetBrowser.error{
	display: table;
}
.argunetBrowser .error{
	text-align:center;
	color:#bbb;
	font-size:11px;
	padding:30px;
    display: inline-block;
	display: table-cell;
    vertical-align: middle;
    margin:0 auto;
}
.argunetBrowser a{
	color:#bbb;
}
.argunetBrowser .logo{
	display:block;
	padding:0px 0px 0px 0px;
	margin:0 auto;
	width:134px;
	height:42px;
	background: url('images/argunet-logo.jpg') no-repeat center center;	
}
.argunetBrowser .logo span{
	display:none;
}
.argunetBrowser .navigationBar{
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	height:50px;
	background-color:#fff;
	border-top:1px solid #ccc;
	display:block;
	font-size:11px;
	opacity:0.7;
	overflow:hidden;
}
.argunetBrowser .navigationBar .menu{
	padding:2px;
}
.argunetBrowser .navigationBar .logo{
	float:right;
	display:block;
	padding:2px 4px;
	width:134px;
	height:42px;
	background: url('images/argunet-logo.jpg') no-repeat center center;	
}
.argunetBrowser .navigationBar .logo span{
	display:none;
}
.argunetBrowser .navigationBar .label{
	margin:5px 0px;
	background-color:#fff;
	color:black;
}
.argunetBrowser .navigationBar .menuItem{
margin:10px 2px;
float:left;
}
.argunetBrowser .debateList .menuItem{
	margin:2px;
}
.argunetBrowser .navigationBar .menu .graphDepth{
font-size:11px;
padding:4px 10px 10px 10px;
margin:0px;
float:left;
}
.argunetBrowser .ui-button-icon-only .ui-icon-exit-fullscreen { 
	background: url(images/ui-icons_ef8c08_256x240.png) -128px -80px; 
}
.argunetBrowser .ui-button-icon-only .ui-icon-open-fullscreen { 
	background: url(images/ui-icons_ef8c08_256x240.png) -144px -80px; 
}
.argunetBrowser .debateList{
	width:370px;
	padding:0px 20px;
	font-size:11px;
	position:absolute;
	top:0;
	left:0;
	bottom:50px;
	background-color:#fff;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	font-size:11px;
	opacity:0.9;
	overflow:scroll;
}
.argunetBrowser .debateList h3{
	margin:10px 0px 0px 0px;
	padding:0px;
}
.argunetBrowser .debateList h4{
	margin:0px 0px 10px 0px;
	padding:0px;
}
.argunetBrowser .jstree li.node a .jstree-checkbox{
	display:none;
}

.argunetBrowser .argument{
	border: 1px solid #d0d0d0;
	padding:0px 0px 61px;
	margin:3px;	
	font-family: Trebuchet, Helvetica, Arial, sans-serif;
	color:#000;
	width:200px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	overflow:hidden;
	position:relative;
	float:left;
	font-size:11px;
}
.argunetBrowser .argument.state1{
	height:61px;
}
.argunetBrowser .argument.state2{
	height:120px;
	padding:0px;
}
.argunetBrowser .thesis{
	margin:5px;
	border: 6px solid #bbb;
	padding:0px 0px 0px;
	height:160px;
	width:290px;

	font-family: Trebuchet, Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#000;
	-moz-border-radius: 15px;
	border-radius: 15px;
	overflow:hidden;
	position:relative;
	float:left;
	
}
.argunetBrowser .argument.description{
}
.argunetBrowser .header{
	padding:8px;
	background-color:#fff;
	color:#fff;
}
.argunetBrowser .thesis .header{
	border-bottom-width:2px;
	border-bottom-style:solid;
}
.argunetBrowser .title{
	text-align:center;
	padding:0px;
	margin:0px;
	font-weight:bold;
	font-size:11px;
}
.argunetBrowser .argument.state3 .content{
	padding:0px;
	margin:0px;
	font-size:14px;	
}
.argunetBrowser .argument.state2 .content{
	padding:0px;
	margin:0px;
	font-size:10px;
}
.argunetBrowser .description{
	margin:10px;
	padding:0px 0px 0px;
}
.argunetBrowser .thesis .content{
	padding:0px;
	margin:20px;
	color:#000;
}
.argunetBrowser .sentenceList{
	margin:0px 0px 20px;
	padding:0px;
}
.argunetBrowser .sentenceList li{
	padding:5px 30px;
}
.argunetBrowser .conclusion{
	font-weight:bold;
	border-top:1px solid black;
	margin-top:5px;
	padding-top:5px;
}
.argunetBrowser .footer{
	padding:20px 0px;
	text-align:center;
	background-color:red;
	height:21px;	
	position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
}
.argunetBrowser .argunet-tooltip{
	position:absolute;
	top:0px;
	left:0px;
	background-color:#ffffff;
	border:1px solid #ddd;
	font-size:12px;
	padding:10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:200px;
}
.argunetBrowser .argunet-tooltip p{
	line-height:1.5em;
	padding:0;
	margin:0 0 10px 0;
}
.argunetBrowser .argunet-tooltip table{
	border-collapse:collapse;
	padding:0px;
	margin:0px;
	line-height:1em;
	border:0px;
}
.argunetBrowser .argunet-tooltip td, tr{
	border-collapse:collapse;
	border:none;
	padding:2px;
	margin:0px;
	vertical-align:middle;
}
.argunetBrowser .argunet-tooltip .label{
	padding:0px 2px;
	margin:0;
	display:block;
	float:left;
	color:#999;
	background-color:#fff;
	font-size:12px;
}
.argunetBrowser .argunet-tooltip .icon-incoming-supports{
	background: url(images/arrow-icons.png) no-repeat -52px 1px;
	height:11px;
	width:26px;
	display:block;
	float:left;
}
.argunetBrowser .argunet-tooltip .icon-incoming-attacks{
	background: url(images/arrow-icons.png) no-repeat -78px 1px;
	height:11px;
	width:26px;
	display:block;
	float:left;
}
.argunetBrowser .argunet-tooltip .icon-outgoing-supports{
	background: url(images/arrow-icons.png) no-repeat 0px 1px;
	height:11px;
	width:26px;
	display:block;
	float:left;
}
.argunetBrowser .argunet-tooltip .icon-outgoing-attacks{
	background: url(images/arrow-icons.png) no-repeat -26px 1px;
	height:11px;
	width:26px;
	display:block;
	float:left;
}
.argunetBrowser .argunet-tooltip h3{
	margin: 0;
	margin-bottom:5px;
	padding:0;
	line-height:1.5em;
}
.argunetBrowser .tip{
	font-style:italic;
}
